.hora{
    font-weight: bold;
    font-size: 2rem;
    color: aquamarine;
}

.nombre{
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: burlywood;
}

.edad{
    font-size: 1.5rem;
    font-style: italic;
    background-color: azure;
    color: black;
}